.container{
    box-shadow: 0px 10px 20px;
}

.my_pokemon{
    display: flex;
    justify-content: center;
}

.text-props{
    -webkit-text-fill-color: rgb(251,204,2);
    -webkit-text-stroke: 1.5px rgb(51,91,168);
}
