{% extends 'base.html' %}

{%block content%}

<div class="row text-center my-5 text-white">
    <h1>{{current_user.username}}</h1>
</div>

<div class="row my-3 d-flex justify-content-center text-white">
    {% for poke in my_pokemon %}
    <div class="col my-2 d=flex justify-content-center text-center">
        <div class="my_pokemon"><img src='{{ poke.img }}'></div>
        <p class="my_pokemon">{{ poke.pokename.title() }}</p>
    </div>
    <br>
    {%endfor%}
    <p class="text-center">Wins: {{current_user.wins}}</p>
</div>

<div class="row my-3 d-flex justify-content-center text-white text-center">
    <h1>VERSUS</h1>
</div>

<div class="row text-center my-5 text-white">
    <h1>{{ other_user.username }}</h1>
</div>

<div class="row my-3 d-flex justify-content-center text-white">
    {% for poke in other_user.pokemon %}
    <div class="col my-2 d=flex justify-content-center text-center">
        <div class="my_pokemon"><img src='{{ poke.img }}'></div>
        <p class="my_pokemon">{{ poke.pokename.title() }}</p>
    </div>
    <br>
    {%endfor%}
    <p class="text-center">Wins: {{other_user.wins}}</p>
</div>

<a class="btn btn-warning my-5 d-flex justify-content-center"
    href="{{url_for('resultsPage', user_id = other_user.id)}}">BATTLE</a>

{%endblock%}