{% extends 'base.html' %}

    {% block content %}
    <div class="row d-flex justify-content-center text-center my-5 text-white">
        <img class="col-8" src="https://www.giantbomb.com/a/uploads/scale_super/0/1481/2897229-9939923796-latest">
    </div>
        <div class="row my-5 d-flex justify-content-center text-white">
            <form method="POST" class="col-8">

                {{ catch.hidden_tag() }}

                {{ catch.choose(class='form-control', placeholder = 'Choose Your Pokemon!') }}
                <br>
                <div class="d-flex my-2 justify-content-center">
                    {{catch.catch_pokemon(class='d-flex justify-content-center btn btn-light')}}
                </div>
                <br>
                {% if pokemon_dict %}
                <div class="text-center bg-secondary">
                    <img src="{{pokemon_dict['Front Shiny']}}">
                    <p>Name: {{ pokemon_dict["Name"] }}</p>
                    <br>
                </div>

                {% endif %}
            </form>
        </div>
    </div>

    {%endblock%}
