{% extends 'base.html' %}

{% block content %}
<div class="row text-center my-5 text-white">
    <h1>Pokedex</h1>
</div>

<div class="row my-5 d-flex justify-content-center text-white">
    <form method="POST" class="col-8">

        {{ poke.hidden_tag() }}

        {{ poke.choose(class='form-control', placeholder = 'Choose Your Pokemon!') }}

        <div class="d-flex my-2 justify-content-center">
            {{ poke.submit(class='btn btn-light') }}
        </div>
        <br>
        {% if pokemon_dict %}
        <div class="text-center bg-secondary">
            <img src="{{pokemon_dict['Front Shiny']}}">
            <p>Name: {{ pokemon_dict["Name"] }}</p>
            <p>Ability: {{pokemon_dict["Ability"]}}</p>
            <p>Base XP: {{pokemon_dict["Base XP"]}}</p>
            <p>Base HP: {{pokemon_dict["Base HP"]}}</p>
            <p>Base Attack: {{pokemon_dict["Base ATK"]}}</p>
            <p>Base Defense: {{pokemon_dict["Base DEF"]}}</p>
            <br>
        </div>
        <br>
        {% endif %}
    </form>
</div>
</div>

{%endblock%}