<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
</head>

<body>
    
    <div class="container rounded-5 col-4 my-5 p-3 bg-danger">
        {% include 'nav.html' %}
        <div class="row text-center my-5 text-white">
            <h1>Pokedex</h1>
        </div>
    {% block content %}

        <div class="row my-5 d-flex justify-content-center text-white">
            <form method="POST" class="col-8">

                {{ poke.hidden_tag() }}

                {{ poke.choose(class='form-control', placeholder = 'Choose Your Pokemon!') }}

                <div class="d-flex my-2 justify-content-center">
                    {{ poke.submit(class='btn btn-light') }}
                </div>
                <br>
                {% if pokemon_dict %}
                <div class="text-center bg-secondary">
                    <img src="{{pokemon_dict['Front Shiny']}}">
                    <p>Name: {{ pokemon_dict["Name"] }}</p>
                    <p>Ability: {{pokemon_dict["Ability"]}}</p>
                    <p>Base XP: {{pokemon_dict["Base XP"]}}</p>
                    <p>Base HP: {{pokemon_dict["Base HP"]}}</p>
                    <p>Base Attack: {{pokemon_dict["Base ATK"]}}</p>
                    <p>Base Defense: {{pokemon_dict["Base DEF"]}}</p>
                    <br>
                </div>
                <br>
                {% endif %}
            </form>
        </div>
    </div>

    {%endblock%}
</body>

</html>