{% extends 'base.html' %}

    {% block content %}


        <div class="row text-center my-5 text-props">

            <h1>Log In to Pokedex</h1>
        </div>
        <div class="row my-5 d-flex justify-content-center text-white">
            <form method="POST" class="col-8">

                {{ form.hidden_tag() }}

                {{ form.username(class='form-control', placeholder = 'Trainer Username') }}
                {{ form.password(class='form-control', placeholder = 'Trainer Password') }}

                <div class="d-flex my-2 justify-content-center">
                    {{ form.submit(class='btn btn-white bg-body-secondary') }}
                </div>
                <br>
                
            </form>
        </div>
    </div>

    {%endblock%}
